<app-navigation></app-navigation>
<div class="container align-center">
    <div class="card">
        <div class="card-header">Gegevens voor K Test1</div>
        <div class="card-body">
            <form action="#" method="POST">
                <div class="form-group">
                    Voorletters
                    <input type="text" value="K" required>
                </div>
                <div class="form-group">
                    Achternaam
                    <input type="text" value="Test1" required>
                </div>
                <div class="form-group">
                    Straat
                    <input type="text" value="Straatnaam" required>
                </div>
                <div class="form-group">
                    Huisnummer
                    <input type="text" value="10" required>
                </div>
                <div class="form-group">
                    Plaats
                    <input type="text" value="Groningen" required>
                </div>
                <div class="form-group">
                    Postcode
                    <input type="text" value="9718AT" required>
                </div>
                <div class="form-group">
                    BSN
                    <input type="text" value="111111110" required>
                </div>
                <div class="form-group">
                    GeboorteDatum
                    <input type="date" value="" required>
                </div>
                <div class="form-group">
                    Tel. Nr
                    <input type="tel" pattern="(^\+[0-9]{2}|^\+[0-9]{2}\(0\)|^\(\+[0-9]{2}\)\(0\)|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)" value="0612345678" required>
                </div>
                <div class="form-group">
                    Email
                    <input type="email" value="klant1@quintor.nl" required>
                </div>
                <input class="btn" type="submit" value="Opslaan">
            </form>
        </div>
    </div>
</div>