<header>
    <nav>
        <h2>Quintor</h2>
        <ul>
            <li *ngIf="isLoggedIn$ | async">
                <a routerLink="/home">Home</a>
            </li>
            <li *ngIf="!(isLoggedIn$ | async)">
                <a routerLink="/aanmelden">Aanmelden</a>
            </li>
            <li *ngIf="isLoggedIn$ | async">
                <a routerLink="/user-details">Klantgegevens</a>
            </li>
            <li *ngIf="isLoggedIn$ | async">
                <a routerLink="#">Rekeningoverzicht</a>
            </li>
            <li *ngIf="isLoggedIn$ | async">
                <a routerLink="#">Overboeking</a>
            </li>
        </ul>
        <button (click)="onLogOut()" *ngIf="isLoggedIn$ | async" class="btn btn-grey btn-float-right">Log {{currentUser.username}} uit</button>
    </nav>
  </header>
